div.contactUsForm {
    background-color: $gray;

    div {
        padding: 0rem;
    }
    .send-button {  
        margin-top: 1rem;
        margin-left: 4rem;
    }

    address {
        margin: 0;
        border-bottom: 1px solid $gray-lighter;
    }

    .text-danger {
        color: orangered;
    }
}