.panel-heading {
  background-color: $secondarycolor;
  color: $fullwhite;
  cursor: pointer;
}
.tab-featured-image {
  img {
    width: 100%;
  }
}

.doner-note {
  background-color: $milk;
  border-left: 0.7rem solid $standoutcolor;
  padding: 2rem;
}
