div.hometab {

    // forcing temporary image dimentions this will change
    // once production images are finalized..
    div.vayam-carousel {
        background-color: $night;
    }

    .carousel-caption {
        background-color: rgba(52, 52, 52, 0.7);
    }

    div.showcase-row {
        margin: 0rem;
        padding: 0rem;
    }

    div.concept-row {
        background-color: $standoutcolor;
        margin: 0rem;
        padding: 0rem;
        div.note {
            padding: 0rem;
        }
    }


    // highlights
    .highlights {
        li {
            font-size: 13px;
        }
    }
    
    // project panel styles
    div.row div.thumbnail.project-panel,
    div.row div.thumbnail.project-panel:hover {
        border: none;
        box-shadow: none;
        height: 37rem;
        margin-bottom: 2rem;
        text-align: center;
        text-align: justify;
    }

    div.thumbnail .panel-title {
        font-size: 18px;
        a {
            text-decoration: none;
        }
    }

    .thumbnail > .panel-heading {
        color: $secondarycolor;
        background-color: $fullwhite;
        margin-top: 0px;
        padding: 0rem;
        text-align: center;
        .icon {
            padding: 0rem;
            margin: 0 auto;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 110px;
            width: 125px;
        }

        a {
            text-decoration: none;
            color: $night;
        }
        .project-name {
            width: 15em;
            color: $night;
            padding: 0rem;
            margin: 0rem;
        }
    }

    div.read-more {
        text-align: right;
        a {
            color: $secondarycolor;
        }
    }

    .hover-div {
        margin: 0 auto;
        max-width: 350px;
        margin-top: 30px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }

    .events-updates {
        background-color: $milk;
        .events-updates-pane {
            padding-right: 5rem;
            padding-left: 5rem;
        }

        div.thumbnail {
            max-height: 100rem;
        }
    }

    .events-carousel {
        a.carousel-control {
            padding: 1rem;
            background-image: none;
            color: $night;
        }

        .carousel-indicators {
            bottom: -5px;
            li {
                border-color: $night;
            }
            .active {
                background-color: $night;
            }
        }

        p.justify {
            text-align: justify;
        }
    }   
}
