div.hometab {

    // forcing temporary image dimentions this will change
    // once production images are finalized..
    div.item > img.slide {
        height: 500px !important;
        width: 100% !important;
    }

    // crisis jumbotron
    .row.jumbotron {
        padding-bottom: 5em;
    }

    div.section-title {
        background: $highlightercolor;
        z-index: 2;
        position: relative;
        top: -4em;

        h2 {
            font-weight: bold;
        }
    }

    // progress circles
     .progress {
        width: 150px;
        height: 150px;
        line-height: 150px;
        background: none;
        margin: 0 auto;
        box-shadow: none;
        position: relative;
    }
    .progress:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 12px solid #fff;
        position: absolute;
        top: 0;
        left: 0;
    }
    .progress > span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .progress .progress-left {
        left: 0;
    }
    .progress .progress-bar {
        width: 100%;
        height: 100%;
        background: none;
        border-width: 12px;
        border-style: solid;
        position: absolute;
        top: 0;
    }
    .progress .progress-left .progress-bar {
        left: 100%;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }
    .progress .progress-right {
        right: 0;
    }
    .progress .progress-right .progress-bar {
        left: -100%;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        border-right: 0;
        -webkit-transform-origin: center right;
        transform-origin: center right;
        animation: loading-1 1.8s linear forwards;
    }
    .progress .progress-value {
        width: 90%;
        height: 90%;
        border-radius: 50%;
        background: $standoutcolor;
        font-size: 24px;
        color: #fff;
        line-height: 135px;
        text-align: center;
        position: absolute;
        top: 5%;
        left: 5%;
    }
    .progress.firstload .progress-bar {
        border-color: $highlightercolor;
    }

    .progress.firstload .progress-right .progress-bar {
        animation: loading-1 1.5s linear forwards 1.8s;
    }

    .progress.firstload .progress-left .progress-bar {
        animation: loading-2 1.5s linear forwards 3.3s;
    }

    .progress.secondload .progress-bar {
        border-color: $secondarycolor;
    }

    .progress.secondload .progress-right .progress-bar {
        animation: loading-3 1.5s linear forwards 1.8s;
    }

    .progress.secondload .progress-left .progress-bar {
        animation: loading-4 1.5s linear forwards 3.3s;
    }

    .progress.thirdload .progress-bar {
        border-color: $highlightercolor;
    }
    .progress.thirdload .progress-right .progress-bar {
        animation: loading-5 1.5s linear forwards 1.8s;
    }

    .progress.thirdload .progress-left .progress-bar {
        animation: loading-6 1.5s linear forwards 3.3s;
    }

    @keyframes loading-1 {
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }

    @keyframes loading-2 {
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(92deg);
            transform: rotate(92deg);
        }
    }

    @keyframes loading-3 {
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }

    @keyframes loading-4 {
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
        }
    }

    @keyframes loading-5 {
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }

    @keyframes loading-6 {
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(162deg);
            transform: rotate(162deg);
        }
    }


    @media only screen and (max-width: 990px){
        .progress{ margin-bottom: 20px; }
    }

    // project panel styles
    div.row div.thumbnail.project-panel,
    div.row div.thumbnail.project-panel:hover {
        border: none;
        box-shadow: none;
        height: 20rem;
    }

    div.thumbnail .panel-title {
        font-size: 18px;
        a {
            text-decoration: none;
        }
    }

    .thumbnail > .panel-heading {
        background-color: white;
        margin-top: 0px;

        .project-name {
            width: 15em;
            color: $highlightercolor;
        }

        .project-icon {
            padding-right: 0.5em;
            font-size: 2em;
            color: black;
        }
    }

    .hover-div {
        margin: 0 auto;
        max-width: 350px;
        margin-top: 30px;
        border-bottom: 3px solid $secondarycolor;
        position: relative;
        overflow: hidden;
    }

    .hover-div:hover {
        transition: all ease-in-out .6s;
        transform: scale(1.1);
        cursor: pointer;
    }
}
