div.impacttab {

	div.thumbnail {
		
		.thumbnail-image {
			height: 250px;
		}

		.caption {
			height: 200px;
		}
	}

	div.thumbnail:hover .thumbnail-image {
		-webkit-filter: contrast(100%);
		filter: contrast(100%);
	}

	div.read-more {
        text-align: right;
        a {
            color: $secondarycolor;
        }
    }
}