div.vayam-modal {
    div.modal-header {
        background-color: $secondarycolor;
        color: $fullwhite;
    }

    div.modal-core {
        border: none;
        .modal-image {
            margin: 2rem;
            float: left;
            width: 400px;
        }
        .caption {
            margin: 2rem;
            padding: 0rem;
        }
    }

    div.modal-footer {
        clear: both;
        background-color: darkgray;
        button:hover {
            color: none;
        }
    }

}