div.vayam-modal {
    div.modal-header {
        background-color: $fullwhite;
        color: $standoutcolor;
    }

    div.modal-footer {
        background-color: $fullwhite;
        button:hover {
            color: none;
        }
    }

    div.thumbnail {
        border: none;
    }
}