div.vayam-modal {
    div.modal-header {
        background-color: $secondarycolor;
        color: $fullwhite;
    }

    div.modal-footer {
        background-color: darkgray;
        button:hover {
            color: none;
        }
    }

    div.thumbnail {
        border: none;
        .modal-image {
            max-width: 100%;
            max-height: 400px;
        }
    }
}