.newspage {

    .glyphicon
    {
        margin-right:4px !important; /*override*/
    }

    .pagination .glyphicon
    {
        margin-right:0px !important; /*override*/
    }

    .pagination a
    {
        color:#555;
    }

    .panel {
        max-height: 47rem;
        overflow: hidden;
        .panel-body {
            padding-left: 0;
        }
        ul {
            padding:0px;
            margin:0px;
            list-style:none;
        }
        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
        .news-shortdescription {
            padding-left: 1rem;
        }
    }


    .news-item
    {
        padding:4px 4px;
        margin:0px;
        border-bottom:1px dotted #555;
    }

    #myCarousel {
        padding-bottom: 2rem;
    }
}
