div.whatweare {
    .page-heading {
		color: $secondarycolor;
    }
    
    .caption.dark-bg {
        background-color: $standoutcolor;
        padding: 3rem;
        margin-top: 1rem;
        border-right: 1rem solid $secondarycolor;
        min-height: 25rem;
    }

    .teams {
        margin-top: 30px;
        background-color: $milk;
        width: 100%;

        .row {
            width: 85%;
            margin: 0px auto;
        }
    }
    .frontside .card .card-title,
    .backside .card .card-title {
        color: $secondarycolor;
    }
}
