<div class="vayam-modal">
    <div class="modal-header">
        <h3>{{header}}</h3>
    </div>
    <div id="modal-body">
        <div class="modal-core thumbnail">
            <img class="modal-image thumbnail-image" ng-src="{{image}}">
            <div class="caption">
                <p ng-repeat="para in description">{{para}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary lg" ng-click="cancel()">{{canceltext}}</button>
    </div>
</div>