<div class="teams">
    <image-banner></image-banner>

    <div class="row">
		<div class="well well-lg col-xs-12">
			<h2>Team</h2>
			<p class="text-justify">{{bannertext}}</p>
		</div>
    </div>    

    <div class="container">
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="candidate in teamdata">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src="{{candidate.avatar}}" alt="card image"></p>
                                    <h4 class="card-title">{{candidate.name}}</h4>
                                    <p class="card-text">{{candidate.post}}</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{candidate.name}}</h4>
                                    <p class="card-text">{{candidate.details}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
