<div id="donate">
    <image-banner></image-banner>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="page-heading">Donation</h3>
                <p class="text-justify">{{bannertext}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <!-- begin panel group -->
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <!-- panel 1 -->
                    <div class="panel panel-default">
                        <!--wrap panel heading in span to trigger image change as well as collapse -->
                        <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
                            <div class="panel-heading btn-primary" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h4 class="panel-title">Online Payment</h4>
                            </div>
                        </span>

                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <!-- Tab content goes here -->
                                Account Name: 00000000xxxxxxx <br />
                                Account Number: 00000000xxxxxxx <br />
                                IFSC Code: 00000000xxxxxxx <br />
                            </div>
                        </div>
                    </div>
                    <!-- / panel 1 -->

                    <!--  panel 3 -->
                    <div class="panel panel-default">
                        <!--wrap panel heading in span to trigger image change as well as collapse -->
                        <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                            <div class="panel-heading btn-primary" role="tab" id="headingThree"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h4 class="panel-title">Mobile Payment</h4>
                            </div>
                        </span>

                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <!-- tab content goes here -->
                                Mobile Number: 9021XXXXXX
                            </div>
                        </div>
                    </div>
                </div> <!-- / panel-group -->

            </div> <!-- /col-md-4 -->

            <div class="col-md-4">
                <div class="tab-featured-image">
                    <div class="tab-content">
                        <div class="tab-pane  in active" id="tab1">
                            <img src="http://www.protontech.in/images/paymentlogo123.png" alt="tab1" class="img img-responsive">
                        </div>
                        <div class="tab-pane " id="tab2">
                            <img src="https://image.freepik.com/free-vector/cash-payment_23-2147511454.jpg">
                        </div>
                        <div class="tab-pane fade" id="tab3">
                            <img src="https://gravitypayments.com/wp-content/uploads/2016/11/mobile-payments.jpg" alt="tab1" class="img img-responsive">
                        </div>
                    </div>
                </div>
            </div> <!-- / .col-md-8 -->
        </div> <!--/ .row -->
    </div> <!-- end sidetab container -->
</div>