<div>
    <image-banner></image-banner>
    
    <div class="row">
        <div class="fixedmargin ">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        </div>
        <div class="page-header">
            <h1>Donate Now</h1>
        </div>
    </div>

    <div class="row row-eq-height ">
        <div class=" col-sm-4 col-sm-push-8">

            <div id="my_image"  style= "background-repeat: no-repeat; background-image: url('/assets/images.jpg');" class="full_height full_width img-responsive">
            </div>

        </div>

        <div class="col-sm-8 col-sm-pull-4"  >
            <div id="accordion" class="panel-group">
                <div class="panel panel-primary ">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <button onclick="$('#my_image').css('background-image', 'url(/assets/res.jpg)')"  data-parent="#accordion" class="active btn btn-info fullwidth" data-toggle="collapse" data-target="#viewdetails" >Online Payment</button>
                        </h4>
                    </div>

                    <div id="viewdetails" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p class="">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut ferm </p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary ">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <button  onclick="$('#my_image').css('background-image','url(/assets/res1.jpg)');" data-parent="#accordion" type="button" class="btn btn-info fullwidth" data-toggle="collapse" data-target="#viewdetails1" >Cash/Cheque</button>
                        </h4>
                    </div>

                    <div id="viewdetails1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut ferm </p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary ">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <button onclick="$('#my_image').css('background-image','url(/assets/res2.jpg)');" data-parent="#accordion" type="button" class="btn btn-info fullwidth" data-toggle="collapse" data-target="#viewdetails2" >Mobile Payment</button>
                        </h4>
                    </div>

                    <div id="viewdetails2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut ferm </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
