<div class="contactus">
	<div vayam-header></div>

	<div class="row">
		<div class="col-xs-12 rowone">
			<img src="https://dvyvvujm9h0uq.cloudfront.net/images/pixpa-inner-banner.jpg" class="img-responsive" alt="Responsive image" style="height: 300px; width: 100%;">
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1>Get in Touch</h1>
					<h4>Please fill out the form and we will be in touch with lightning speed.</h4>
				</div>
				<div class="panel-body">
					<form>
						<input type="text" required placeholder="Name" class="contact-form-field form-control"></input>
						<input type="email" required placeholder="Email" class="contact-form-field form-control"></input>
						<textarea type="text" required placeholder="Message" class="contact-form-field form-control"></textarea>

						<a href="" class="btn btn-info btn-lg">
							<span class="glyphicon glyphicon-send"></span> Send
						</a>
					</form>
				</div>
			</div>
		</div>

		<div class="col-md-2 col-md-offset-2">
			<h3>Connect At</h3>
			<hr>
			<p>
				<h4>Pixpa USA</h4>
				<address>
					501 Silverside Road, Suite 105,
					Wilmington, Delaware 19809
					USA
				</address>
			</p>

			<p>
				<h4>Pixpa India</h4>
				<address>
					A-227, First Floor,
					Okhla Industrial Area, Phase-1
					New Delhi IN - 110020
				</address>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<vayam-map id="googleMap" style="width:100%; height:400px;">My map will go here</vayam-map>
		</div>
	</div>

	<div vayam-footer></div>
</div>
