<div class="contactustab">
	<image-banner></image-banner>

	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>Get in Touch</h2>
					<h4>Please fill out the form and we will be in touch with lightning speed.</h4>
				</div>
				<div class="panel-body">
					<form>
						<input type="text" required placeholder="Name" class="contact-form-field form-control"></input></br>
						<input type="email" required placeholder="Email" class="contact-form-field form-control"></input></br>
						<textarea type="text" required placeholder="Message" class="contact-form-field form-control"></textarea></br>

						<a href="" class="btn btn-primary btn-lg">
							<span class="glyphicon glyphicon-send"></span>
							Send
						</a>
					</form>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-2 col-md-offset-2">
			<h3>Connect At</h3>
			<hr>
			<p>
				<h4>Pixpa USA</h4>
				<address>
					501 Silverside Road, Suite 105,
					Wilmington, Delaware 19809
					USA
				</address>
			</p>

			<p>
				<h4>Pixpa India</h4>
				<address>
					A-227, First Floor,
					Okhla Industrial Area, Phase-1
					New Delhi IN - 110020
				</address>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<vayam-map id="googleMap" class="googleMap">My map will go here</vayam-map>
		</div>
	</div>
</div>
