<div class="contactustab">
	<image-banner></image-banner>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="page-heading">{{title}}</h3>
				<p class="text-justify">{{bannertext}}</p>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
					<div class="info">
						<h3 class="title">MAIL</h3>
						<p ng-repeat="location in locations" ng-if="location.fields.email">
							<i class="fa fa-envelope" aria-hidden="true"></i> {{location.fields.email}}
							<br>
						</p>
					
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
			
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
					<div class="info">
						<h3 class="title">CONTACT</h3>
						<p ng-repeat="location in locations" ng-if="location.fields.contactNumber">
							<i class="fa fa-mobile" aria-hidden="true"></i> {{location.fields.contactNumber}}
							<br>
						</p>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
			
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
					<div class="info">
						<h3 class="title">ADDRESS</h3>
						<p ng-repeat="location in locations">
							 <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; {{location.fields.address}}{{location.fields.pinCode}}
						</p>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
	</div>
		
	<vayam-map id="googleMap" class="googleMap">My map will go here</vayam-map>

</div>



