<div class="projecttab">
	<image-banner></image-banner>
	
	<div class="row">
		<div class="container">
			<div class="col-xs-12 ">
				<h3 class="page-heading">{{project.projectName || impact.name}}</h3>
				<p class="text-justify">{{project.shortDescription}}</p>
			</div>
		</div>
	</div>

	<div ng-if="project.childprojects.length == 0" class="container-fluid">
		<div class="container detail">
			<div class="col-md-6">
				<p>{{project.projectdetail}}</p>
			</div>
		</div>
	</div>

	<div ng-if="impact" class="container-fluid">
		<div class="container detail">
			<div class="col-md-6 text-justify">
				<p ng-repeat="para in impact.longDescription">{{para}}</p>
			</div>
			<div class="col-md-6">
				<img src="{{impact.image}}" class="img-responsive" alt="image" />
			</div>
		</div>
	</div>

	<div ng-if="project.childProjects.length" class="tab-pane container sub-projects">
		<div class="row">
			<div class="col-xs-12 tabbable">
				<ul class="nav nav-tabs">
					<li ng-repeat="subproject in project.childProjects" ng-class="{active: $index === 0}">
						<a  data-target="#subproject_{{$index}}" data-toggle="tab">{{subproject.projectName}}</a>
					</li>
				</ul>
				<div class="tab-content">
					<div ng-repeat="subprojectdetail in project.childProjects" id="subproject_{{$index}}" ng-class="{'tab-pane active': $index === 0, 'tab-pane': $index !== 0}">
						<div class="detail">
							<div class="col-md-6">
								<h3>{{subprojectdetail.projectName}}</h3>
								<p ng-repeat="para in subprojectdetail.shortDescription">{{para}}</p>
							</div>
							<div class="col-md-6">
								<img src="{{subprojectdetail.displayImage}}" class="img-responsive" alt="image" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
