<div class="teams">
    <image-banner></image-banner>

    <div class="row">
		<div class="well well-lg col-xs-12">
			<h2>Testimonies</h2>
			<p class="text-justify">{{bannertext}}</p>
		</div>
    </div>       

    <div class="container">
        <div class="row well" ng-repeat="testimony in testimonials">
            <div class="col-md-6">
                <img src="http://placehold.it/300x200" class="img-rounded group"></img>
            </div>

            <div class="col-md-6">
                <p>{{testimony.say}}</p>
                <blockquote>
                    <p>{{testimony.name}}</p>
                    <small><cite title="Source Title">{{testimony.designation}}<i class="icon-map-marker"></i></cite></small>
                </blockquote>                
            </div>
        </div>     
    </div>
</div>
