<div class="hometab">

	<div id="myCarousel" class="vayam-carousel">
		<div uib-carousel active="slide.active" interval="myInterval" no-wrap="noWrapSlides">
			<div uib-slide ng-repeat="slide in slides" index="$index">
				<div class="slide" ng-style="{'background-image':'url({{slide.image}})'}">
					<div class="banner-text-container container col-xs-offset-2">
						<div class="banner-text">
							We are
						</div>

						<div class="banner-text">
							<span class="banner-text-highlight">Vayam </span>family
						</div>
					</div>
				</div>
				<div class="carousel-caption">
					<p>{{slide.text}}</p>
				</div>
			</div>
		</div>
	</div>


	<div class="container-fluid showcase-row">
		<div class="container-fluid concept-row">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<h2>
							a movement for <span class="highlight-on-yellow">D</span>evelopment, <span class="highlight-on-yellow">E</span>nvironment
							and <span class="highlight-on-yellow">D</span>emocracy
						</h2>

					</div>

					<div class="row">
						<div class="col-xs-12 note" ng-repeat="note in conceptnote">{{ note }}</div>
					</div>

					<div class="row highlights">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-repeat="item in highlights">
							<div class="box-part text-center">
								<div class="logo">
									<img src="/assets/{{item.icon}}"></a>
								</div>
								<div class="title">
									<h4> {{ item.name }} </h4>
								</div>

								<ul style="text-align: left;">
									<li ng-repeat="bullet in item.bullets">{{ bullet }}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="text-center col-xs-12 col-md-4 col-md-offset-4">
					<h2>Our Approach</h2>
				</div>
			</div>

			<div class="row hover-effect">
				<div class="col-xs-12 col-sm-12 col-md-6" ng-repeat="project in projects">
					<div class="thumbnail project-panel">
						<div class="panel-heading project-icon">
							<div ng-style="{'background-image':'url({{project.icon}})'}" class="icon"></div>
						</div>
						<div class="panel-heading hover-div">
							<span class="panel-title project-name">
								<h4><a href="#!/project/{{project.id}}">{{project.projectName}}</a></h4>
							</span>
						</div>
						<div class="panel-body">
							{{project.shortDescription}}
							<div class="read-more">
								<a href="#!/project/{{project.id}}">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="container-fluid events-updates">
			<div class="text-center col-xs-12 col-md-4 col-md-offset-4">
				<h2>Events and Updates</h2>
			</div>

			<div id="eventCarousel" class="events-carousel">
				<div uib-carousel active="events.active" interval="myInterval" no-wrap="noWrapEvents">
					<div uib-slide ng-repeat="events in displayeventgroup" index="$index">
						<div class="events-updates-pane container">
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4" ng-repeat="event in events">
									<div class="thumbnail">
										<img class="thumbnail-image img-rounded" ng-src="{{event.image}}" alt="...">
										<div class="caption">
											<h3>{{event.name}}</h3>
											<p class="justify">{{event.shortDescription}}</p>
											<p><a href="" class="btn btn-primary" role="button" ng-click="open(event)">View More</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>