<div class="hometab">

	<div id="myCarousel" class="vayam-carousel">
		<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
			<div uib-slide ng-repeat="slide in slides" index="$index">
				<div class="slide" ng-style="{'background-image':'url({{slide.image}})'}">
					<div class="banner-text-container container col-xs-offset-2">
						<div class="banner-text">
							We are
						</div>
				
						<div class="banner-text">
							<span class="banner-text-highlight">Vayam </span>family
						</div>
					</div>
				</div>
				<div class="carousel-caption">
					<p>{{slide.text}}</p>
				</div>
			</div>
		</div>
	</div>


	<div class="container-fluid showcase-row">
		<div class="container-fluid concept-row">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<h2>
							a movement for <span class="highlight-on-yellow">D</span>evelopment, <span class="highlight-on-yellow">E</span>nvironment and <span class="highlight-on-yellow">D</span>emocracy
						</h2>
					</div>

					<div class="row">
						<div class="col-xs-12 note" ng-repeat="note in conceptnote">{{note.para}}</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-md-4" ng-repeat="item in crisis">
							<div class="progress" ng-class="item.positioncss">
								<span class="progress-left">
									<span class="progress-bar"></span>
								</span>
								<span class="progress-right">
									<span class="progress-bar"></span>
								</span>
								<div class="progress-value">{{item.percentage}}%</div>
							</div>
							<div class="text-center">{{item.name}}.</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="text-center col-xs-12 col-md-4 col-md-offset-4">
					<h2>Our Approach</h2>
				</div>
			</div>

			<div class="row hover-effect">
				<div class="col-xs-12 col-sm-12 col-md-4" ng-repeat="project in projects">
					<div class="thumbnail project-panel">
						<div class="panel-heading project-icon">
							<div class="{{project.icon}} icon"></div>
						</div>
						<div class="panel-heading hover-div">
							<span class="panel-title project-name">
								<h4><a href="#!/project/{{project.id}}">{{project.name}}</a></h4>
							</span>
						</div>
						<div class="panel-body">
							{{project.shortdescription}}
							<div class="read-more">
								<a href="#!/project/{{project.id}}">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="container-fluid events-updates">
			<div class="text-center col-xs-12 col-md-4 col-md-offset-4">
				<h2>Events and Updates</h2>
			</div>
			
			<div class="events-carousel">
				<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
					<div uib-slide ng-repeat="events in displayeventgroup" index="$index">
						<div class="events-updates-pane container">
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4" ng-repeat="event in events">
									<div class="thumbnail">
										<img class="thumbnail-image img-rounded" ng-src="{{event.image}}" alt="...">
										<div class="caption">
											<h3>{{event.eventname}}</h3>
											<p class="justify">{{event.shortdescription}}</p>
											<p><a href="" class="btn btn-primary" role="button" ng-click="open(event)">View More</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
