<div>
	<div vayam-header></div>

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a data-target="#whatweare" aria-controls="home" role="tab" data-toggle="tab">What we are</a>
						</li>

						<li role="presentation">
							<a data-target="#journey" aria-controls="messages" role="tab" data-toggle="tab">Journey</a>
						</li>

						<li role="presentation">
							<a data-target="#vision" aria-controls="settings" role="tab" data-toggle="tab">Vision</a>
						</li>

						<li role="presentation">
							<a data-target="#teams" aria-controls="profile" role="tab" data-toggle="tab">Teams</a>
						</li>

						<li role="presentation">
							<a data-target="#testimonials" aria-controls="settings" role="tab" data-toggle="tab">Testimonials</a>
						</li>
					</ul>
				</div>

				<div class="panel-body">
				  <div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="whatweare">
						<div class="tabrow">
							<div class="col-xs-5">
								<img src="" class="img-responsive" alt="Responsive image" style="height: 100%; width: 100%;">
							</div>

							<div class="col-xs-7">
								<div class="well">

								<h3>Contrary to popular belief</h3>

								<p>
									Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
								</p>

								<p>
									Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
								</p>
								</div>
							</div>

						</div>
					</div>

					<div role="tabpanel" class="tab-pane" id="journey">
						<div class="tabrow">
							<div class="col-xs-5">
								<img src="" class="img-responsive" alt="Responsive image" style="height: 100%; width: 100%;">
							</div>

							<div class="col-xs-7">
								<div class="well">

								<h3>Contrary to popular belief</h3>

								<p>
									Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
								</p>
								</div>
							</div>

						</div>
					</div>

					<div role="tabpanel" class="tab-pane" id="vision">
						<div class="tabrow">
							<div class="col-xs-5">
								<img src="" class="img-responsive" alt="Responsive image" style="height: 100%; width: 100%;">
							</div>

							<div class="col-xs-7">
								<div class="well">

								<h3>Contrary to popular belief</h3>

								<p>
									Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
								</p>

								<p>
									Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
								</p>
								</div>
							</div>

						</div>
					</div>

					<div role="tabpanel" class="tab-pane" id="teams">
					</div>

					<div role="tabpanel" class="tab-pane" id="testimonials">
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div vayam-footer></div>
</div>
