<div class="impacttab">
	<image-banner></image-banner>
	
	<div class="row">
		<div class="well well-lg col-xs-12">
			<h2>Impact</h2>
			<p class="text-justify">{{bannertext}}</p>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4" ng-repeat="impact in impacts">
				<div class="thumbnail">
				  <img class="thumbnail-image img-rounded" ng-src="{{impact.image}}">
				  <div class="caption">
					<h3>{{impact.name}}</h3>
					<p>{{impact.oneliner}}</p>
					<p><a href="" class="btn btn-primary" role="button" ng-click="open(impact)">Read Full Story</a></p>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
