<div class="newsdetails">
    <image-banner></image-banner>

    <div class="row">
        <div class="well col-xs-12">
            <h2>{{selectedNews.newsheading}}</h2>
            <p class="text-justify">{{selectedNews.shortdescription}}</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="detail">
            <div class="col-md-6">
                <p>{{selectedNews.longdescription}}</p>
            </div>
            <div class="col-md-6">
                <img src="http://placehold.it/500x300" class="img-responsive" alt="image" />
            </div>
        </div>
    </div>
</div>
