<div class="journeytab">
    <image-banner></image-banner>
    
    <div class="container">
        <div class="row">
                <div class="col-xs-12">
                    <h3 class="page-heading">We're the people of Vayam</h3>
                    <p class="text-justify">{{bannertext}}</p>
                </div>
        </div>
        <ul class="timeline">
            <li ng-repeat="milestone in milestones" ng-class="milestone.invert ? 'timeline-inverted' : ''">
                <div class="timeline-badge info"><span>{{milestone.date}}</span></div>
                <div class="timeline-panel">
                    <div class="caption">
                        <p><small class="text-muted date"><i class="glyphicon glyphicon-calendar"></i>{{milestone.date}}</small></p>
                    </div>
                    <div class="timeline-heading">
                        <img class="thumbnail-image" ng-src="{{milestone.imageurl}}">
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title">{{milestone.name}}</h4>
                        <p>{{milestone.description}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- Testimonials -->
    <div class="container-fluid testimonial">
        <h2>Testimonials</h2>
        <div id="myCarousel" class="vayam-carousel container">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div class="carousel-inner">
                    <div uib-slide class="item carousel-item active" ng-repeat="slide in slides" index="$index">
                        <div class="img-box"><img src="{{slide.avatar}}" alt=""></div>
                        <div class="vl"></div>
                        <p class="say">{{slide.say}}</p>
                        <p class="overview"><b>{{slide.name}}</b>, {{slide.designation}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>