<div class="journeytab">
<image-banner></image-banner>

<div class="row">
    <div class="well well-lg col-xs-12">
        <h2>Journey</h2>
        <p class="text-justify">{{bannertext}}</p>
    </div>
</div>

<div class="container">    
    <ul class="timeline">
        <li ng-repeat="milestone in milestones" ng-class="milestone.invert ? 'timeline-inverted' : ''">
          <div class="timeline-badge info"><i class="fa fa-history"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
                <img class="thumbnail-image" ng-src="{{milestone.imageurl}}">
            </div>
            <div class="caption">
                <p><small class="text-muted date"><i class="glyphicon glyphicon-time"></i>{{milestone.date}}</small></p>
            </div>
            <div class="timeline-body">
                <h3 class="timeline-title">{{milestone.name}}</h3>
                <p>{{milestone.description}}</p>
            </div>
          </div>
        </li>
    </ul>
</div>
</div>