<div class="projecttab">
	<image-banner></image-banner>
	
	<div class="row">
		<div class="container">
			<div class="col-xs-12 ">
				<h3 class="page-heading">{{ impact.name }}</h3>
			</div>
		</div>
	</div>

	<div ng-if="impact" class="container-fluid">
		<div class="container detail">
			<div class="col-md-6 text-justify">
				<p ng-repeat="para in impact.longDescription">{{para}}</p>
			</div>
			<div class="col-md-6">
				<img src="{{impact.image}}" class="img-responsive" alt="image" />
			</div>
		</div>
	</div>
</div>
